#contactForm {
  max-width: 31.25rem;
}

#contactForm input,
#contactForm textarea {
  font-size: 1rem;
  padding: 0.625rem 0.938rem;
  border-radius: 0.375;
  border: 0.125rem solid #ced4da;
}

#contactForm input:focus,
#contactForm textarea:focus {
  border-color: #0d6efd;
  box-shadow: none;
}

#contactForm .btn {
  font-size: 1rem;
  font-weight: 500;
}

.btn:hover {
  border: 0.125rem solid #030b17;
}