#about p {
  font-size: 1.1rem;
  line-height: 1.7;
}

#about ul li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.profile-pic {
  width: 9.375rem;
  height: 9.375rem;
  object-fit: cover;
  border-radius: 50%;
  border: 0.25rem solid #dee2e6;
}