<div class="container py-5" id="about">
  <h2 class="text-center fw-bold mb-4">About Me</h2>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
      <div class="card h-100 shadow">
        <div class="card-body text-center">
          <img src="Profilepic.jpeg" class="profile-pic mb-4" alt="Profile pic">

          <p class="card-text">
            Hello! I am <strong>Prathmesh Krishna Umredkar</strong>, a passionate Frontend & MEAN Stack Developer used to build
            modern, responsive web applications using HTML, CSS, Bootstrap, JavaScript, TypeScript, and AngularJS.
          </p>

          <ul class="list-unstyled mt-4 text-start">
            <li><strong>Email:</strong>
              <a href="mailto:prathmeshumredkar23@gmail.com" target="_blank"> prathmeshumredkar23&#64;gmail.com</a>
            </li>

            <li><strong>Contact:</strong> +91-9112308547</li>
            
            <li><strong>LinkedIn:</strong>
              <a href="https://linkedin.com/in/prathmesh-umredkar" target="_blank">
                https://linkedin.com/in/prathmesh-umredkar</a>
            </li>

            <li><strong>GitHub:</strong>
              <a href="https://github.com/prathmesh133" target="_blank">
                https://github.com/prathmesh133</a>
            </li>
            <li><strong>Location:</strong> Adamshah Chowk Near Somani Nursing Home Nagpur - 440008</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
