<div class="container py-5" id="about">
    <h2 class="text-center fw-bold mb-4">About Me</h2>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card h-100 shadow">
                <div class="card-body text-center">
                    <img src="Profilepic.jpeg" class="profile-pic mb-4" alt="Profile pic">
                    
                    <p class="card-text">
                        Hello! I am <strong>Prathmesh Krishna Umredkar</strong>, a passionate Frontend Web Developer used to build
                        modern, responsive web applications using HTML, CSS, Bootstrap, JavaScript, TypeScript, and AngularJS.
                    </p>
                    <ul class="list-unstyled mt-4 text-start">
                        <li><strong>Email:</strong> <a href="mailto:prathmeshumredkar23@gmail.com" target="_blank"> prathmeshumredkar23&#64;gmail.com</a></li>
                        <li><strong>Contact:</strong> +91-9112308547</li>
                        <li><strong>LinkedIn:</strong>
                            <a href="https://linkedin.com/in/prathmesh-umredkar" target="_blank"> https://linkedin.com/in/prathmesh-umredkar</a>
                        </li>
                        <li><strong>GitHub:</strong>
                            <a href="https://github.com/prathmesh133" target="_blank"> https://github.com/prathmesh133</a>
                        </li>
                        <li><strong>Location:</strong> Adamshah Chowk Near Somani Nursing Home Nagpur - 440008</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container py-5" id="education">
  <h2 class="text-center fw-bold mb-4">Education</h2>
  <div class="card shadow-sm border-0 p-4 bg-light">
    <div class="d-flex align-items-start">
      <i class="bi bi-mortarboard-fill fs-1 text-primary me-3"></i>
      <div>
        <h5 class="mb-1 fw-semibold text-dark">
          B.Tech in Electronics & Telecommunication Engineering
        </h5>
        <p class="mb-1 text-secondary">
          S.B. Jain Institute of Technology, Management and Research
        </p>
        <span class="badge bg-primary">2020 - 2024</span>
      </div>
    </div>
  </div>
</div>





