<section class="container py-5" id="projects">
    <h2 class="text-center fw-bold mb-4">Projects</h2>
    <div class="row g-4">
        <div class="col-md-6">
            <div class="card h-100 shadow-sm project-card">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title fw-bold">CampVerse – Camp Booking Website</h5>

                    <ul class="mb-3">
                        <li>Developed a responsive platform with city-based camp listings.</li>
                        <li>Implemented "Our Services" section with user ratings and smooth navigation.</li>
                        <li>Enabled booking form to collect user details and generate a receipt.</li>
                        <li>Integrate checkout form with receipt generation.</li>
                        <li>Added a contact form, searchable FAQs footer with essential links for better
                            accessibility.</li>
                    </ul>

                    <p class="mb-1"><strong>Tech Stack:</strong> HTML, CSS, TypeScript</p>
                    <p class="mb-3"><strong>Frameworks:</strong> Bootstrap, AngularJS</p>
                    <a href="https://github.com/prathmesh133/CampVerse" target="_blank" class="btn btn-dark mt-auto">
                        <i class="bi bi-github me-2"></i>View on GitHub
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card h-100 shadow-sm project-card">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title fw-bold">BakeHub – Online Cake Ordering Website</h5>
                    <ul class="mb-3">
                        <li>Built a responsive homepage showcasing cake flavors with descriptions, services, best
                            sellers, and ratings.</li>
                        <li>Developed an order booking form to collect user details and generate a receipt.</li>
                        <li>Implemented order tracking by order ID,and Customer Name.</li>
                        <li>Integrated a payment form with receipt generation and a Contact form, FAQs & structured footer.</li>
                    </ul>
                    <p class="mb-1"><strong>Tech Stack:</strong> HTML, CSS, TypeScript</p>
                    <p class="mb-3"><strong>Frameworks:</strong> Bootstrap, AngularJS</p>
                    <a href="https://github.com/prathmesh133/BakeHub" target="_blank" class="btn btn-dark mt-auto">
                        <i class="bi bi-github me-2"></i>View on GitHub
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>