#projects .project-card img {
  height: 13.75rem;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
  transition: transform 0.3s ease;
}

#projects .project-card img:hover {
  transform: scale(1.02);
}