#education .card {
    background-color: #f8f9fa;
    border-left: 0.313rem solid #0d6efd;
    transition: transform 0.3s ease;
}

#education .card:hover {
    transform: scale(1.02);
}

#education i {
    color: #0d6efd;
}