footer {
  font-size: 0.9rem;
}

.footer-icons a {
  color: #ffffff;
  font-size: 1.4rem;
  margin: 0 8px;
  transition: color 0.3s ease;
}

.footer-icons a.linkedin:hover {
  color: #0A66C2;
}

.footer-icons a.github:hover {
  color: #6e5494;
}

.footer-icons a.email:hover {
  color: #ff4d4d;
}