<div class="bg-dark text-white text-center py-3 mt-4 footer-icons">
    <div>© 2025 PRATHMESH UMREDKAR. ALL RIGHTS RESERVED.</div>
    <div class="mt-2">
        <a href="https://linkedin.com/in/prathmesh-umredkar" target="_blank" class="me-2 linkedin"><i
                class="fab fa-linkedin"></i></a>
        <a href="https://github.com/prathmesh133" target="_blank" class="me-2 github"><i class="fab fa-github"></i></a>
        <a href="mailto:prathmeshumredkar23@gmail.com" target="_blank" class="email"><i class="fas fa-envelope"></i></a>
    </div>
</div>
